.cart {
    

    .cart__img-item {
        padding-left: 130px;
    }
    
    .cart__text {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: $blacked;
    }
    
    .cart__list {
        display: flex;
        position: relative;
    }
    
    .cart__item-subscribe {
        position: absolute;
    }
    .cart__item-block {
        flex-wrap: wrap;
    }
    .cart__item {
        position: absolute;
        width: 359px;
        
    }
    
    .cart__item-subscribe {
        
        text-align: center;

    }
    
    .cart__info-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 167.2%;
        color: $blacked;
    }
    
    .cart__item-caption {
        font-size: 24px;
        line-height: 167.2%;
        color: $blacked;
        margin-bottom: 30px;
    }
    
    .cart__form-email {
        display: flex;
        border: none;
        justify-content: center;
        }
    .input__email {
        width: 323px;
        height: 49px;
        background: #E1E1E1;
        border-radius: 20px 0px 0px 20px;
        border: none;
    }
    
    .cart__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(244, 244, 244, 0.7);
    }
    
    .input__submit {
        width: 100px;
        height: 49px;
        background: #F16D7F;
        border-radius: 0 20px 20px 0;
        border: none;
    }
    .cart__img {
        width: 100%;
    }
}

@media (max-width: $tablet-width) {
    .cart {
        .cart__list {
            height: 448px;
        }
        .cart__item-subscribe {
            left: 209px;
            bottom: 50px;
        }
        .cart__item {
            left: 209px;
            top: 54px;
        }
    }
}

@media (max-width: $mobile-width) {
    .cart {
            .cart__list {
                height: 693px;
            }
            .cart__form-email {
                width: 341px;
            }
            .cart__item-subscribe {
                left: 15px;
                bottom: 109px;
            }
            .cart__item {
                left: 15px;
                top: 54px;
            }
        }
}