.copyright {
    height: 79px;
    background-color: $blacked;
    display: flex;

    .copyright__copy {
        font-size: 16px;
        line-height: 19px;
        color: $milk;
        margin: 23px 0 0 135px;
    }
    
    .copyright__link {
        margin-top: 23px;
        margin-left: 455px;
    
    }
}

@media (max-width: $tablet-width) {
    .copyright {
        height: 79px;
        .copyright__link {
            margin-left: 165px;
            display: flex;
        }
    } 
}

@media (max-width: $mobile-width) {
    .copyright {
        flex-direction: column;
        height: 143px;
        .copyright__link {
            margin-left: 114px;
            display: flex;
        }
    } 
}
