.product {
    

    .product__heading {
        align-items: center;
        color: $black;
        font-family: $font-lato;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        padding-top: 67px;
        padding-bottom: 6px;
        text-align: center;
    }
    
    .product__text {
        color: $light-grey;
        font-family: $font-lato;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

    }
    
    .product__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        left: 230px;
        right: 230px;
        top: 48px;
    
    }
    
    .product__item {
        width: 360px;
        position: relative;
    
    }
    
    .product__item-overlay {
        width: 100%;
        min-height: 150px;
        height: 420px;
        background: rgba(58, 56, 56, 0.86);
        position: absolute;
        top: 0;
        display: none;
    }
    
    .product__item-button {
        position: absolute;
        width: 138px;
        height: 43px;
        top: 188px;
        left: 111px;
        background: rgba(0, 0, 0, 0);
        border-color: $white;
        color: $milk;
        display: none;
    }
    
    .product__item:hover .product__item-button,
    .product__item:hover .product__item-overlay {
        display: block;
    }
    
    .product__item-title {
        font-family: $font-lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: $grey-black;
        padding: 35px 194px 13px 18px
    }
    
    .product__item-text {
        font-family: $font-lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $grey;
        padding: 0 29px 18px 18px
    }
    
    
    .product__item-desc {
        font-family: $font-lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $pink;
        padding: 0 289px 20px 18px
    }
    
    .product__button {
        font-size: 16px;
        line-height: 19px;
        border: 1px solid;
        padding: 14px 0 13px 0;
        text-align: center;
        height: 50px;
        display:block;
        margin:0 auto;
    
    .button--transperent:hover {
        background-color: $new-pink;
        color: $milk;
        
    }
}


@media (max-width: $tablet-width) {
}


@media (max-width: $mobile-width) {
.product {
    margin: 0;
    padding: 0;
    max-width: 343px;
}
    .product__list {
        flex-wrap: wrap;
        margin: 0;
    padding: 0;
    }
}
}